@{
    ViewData["Title"] = "Role Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model AdminModel.RoleCreateViewModel


<h1>Role Oluşturma</h1>

<hr/>
<div class="row">
    <div class="col-md-6 offset-md-3">
        @if (ViewData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewData["SuccessMessage"]
            </div>
        }
        <form asp-action="RoleCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Oluştur" class="btn btn-primary"/>
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}