
@{
    ViewData["Title"] = "ResetPassword";
}

@model ResetPasswordViewModel

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Yeni Şifre Oluşturma Formu</h2>

        @if(TempData["SuccessMessage"]!=null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["SuccessMessage"]
            </div>   
        }

            <div class="alert alert-danger" asp-validation-summary=ModelOnly role="alert">
            </div>   

        <form method="post">
      
            <div class="row mb-3">
                <label for="Password" asp-for="Password" class="col-md-4 col-form-label"></label>
                <div class="col-md-8">
                    <input class="form-control" asp-for="Password" autocomplete="off">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="ConfirmPassword" asp-for="ConfirmPassword" class="col-md-4 col-form-label"></label>
                <div class="col-md-8">
                    <input class="form-control" asp-for="ConfirmPassword" autocomplete="off">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            
            <div class="row mb-3">
                <div class="col-md-8 offset-md-4">
                <button type="submit" class="btn btn-primary">Şifre Yenile</button>
                </div>
            </div>
        </form>    
    </div>
</div




