
@{
    ViewData["Title"] = "Index";
}

@model UserViewModel



<div class="text-center">
    <p>Kullanıcı Bilgileri</p>
</div>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <user-picture-thumbnail picture-url="@Model.pictureUrl" class="rounded" style="width:300px"></user-picture-thumbnail>
    </div>
</div>

<div class="row"> 
    <div class="col-md-6 offset-md-3">
        <table class="table">
            <thead>
                <tr>
                    <th>Kullanıcı Adı</th>
                    <th>Email</th>
                    <th>Telefon</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.userName</td>
                    <td>@Model.Email</td>
                    <td>@Model.phoneNumber</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

